@media (min-width: 960px) {
  .v-card[horizontal] {
    display: flex;

    &[reverse] {
      flex-direction: row-reverse;
    }

    .card-image {
      max-width: 50%;
    }

    .card-stacked {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;
      justify-content: space-between;
    }
  }
}
.v-card .v-card__actions[right] {
  justify-content: flex-end;
}